body {
    background-color: black;
}

.main {
    background-color: white;
    margin-top: 110px;
    min-width: 1350px;
    height: 500px;
    position: relative;
    z-index: 1;
}

.ryu, .hulk-ryu {
    width: 659px;
    height: 494px;
}

.hulk-ryu {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);

    position: absolute;
    top: 10px;
    right: 5%;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
    width: 659px;
    height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
    display: none;
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken, .ryu-ready, .hulk-ryu, .ryu-still, .ryu-throwing, .ryu-cool {
    background-repeat: no-repeat;
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: absolute;
    z-index: 10;
    top: 170px;
    left: 400px;
}

.hulk-hadouken {
    background-image: url('../images/hadouken.gif');
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(60deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: absolute;
    z-index: 10;
    top: 170px;
    left: calc(100% - 540px);
}

.instructions {
    position: absolute;
    top: 10px;
    right: 30%;
    width: 600px;
    font-family: cursive;
    font-size: 2.25rem;
}

.throw, .pose {
    width: 50%;
}

.pose {
    margin-left: 45%;
}

.instructions h3 {
    text-align: center;
    margin: 0;
}